.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 0.8rem 1.2rem;
    color: var(--grey);
    background-color: var(--dark-grey);
    width: 85%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
}

.search-flex input{
    background-color: var(--dark-grey);
    width: 100%;
    font-family: "Inter";
    font-size: 1.1rem;
    color: var(--white);
    border: none;
}

.search-flex input:focus{
    outline: none;
}